services:
  # Environnement de Développement
  doom-dev:
    image: doom-local:dev       # Nomme l'image construite localement
    build: ./doom-source/Docker # Construit l'image à partir du code source cloné
    container_name: doom-dev
    ports:
      - "8080:8080"             # Accessible sur http://localhost:8080
    env_file:
      - .env.dev
    volumes:
      - ./dev-config:/config    # Bind mount pour accès facile aux configs
    restart: "no"               # Pas de redémarrage automatique

  # Environnement de Production
  doom-prod:
    image: $PROD_IMAGE # Utilise l'image définie dans .env.prod ou celle par défaut
    container_name: doom-prod
    ports:
      - "8081:8080"             # Accessible sur http://localhost:8081
    env_file:
      - .env.prod
    volumes:
      - doom_saves:/config      # Volume nommé pour la persistance des données
volumes:
  doom_saves:
