version: "1.0"

services:
  doom-dev:
    image: b0nam/docker-doom:latest
    container_name: doom-dev
    ports:
      # Dev: accessible sur http://localhost:8080
      - "8080:8080"
    env_file:
      - .env.dev
    volumes:
      # Pas de volume persistant : les saves sont perdues quand on détruit le conteneur
      - ./dev-config:/config
    restart: "no"

  doom-prod:
    image: b0nam/docker-doom:latest
    container_name: doom-prod
    ports:
      # Prod: accessible sur http://localhost:8081
      - "8081:8080"
    env_file:
      - .env.prod
    volumes:
      # Volume nommé : les saves de Doom restent même après un docker compose down
      - doom_saves:/config
    # En prod, on veut que ça redémarre automatiquement
    restart: unless-stopped

volumes:
  doom_saves:
